.App {
  text-align: center;
}

p .object {
  text-decoration: none;
  color:#80495f; 
  font-weight: 600;
  display: block;
  padding: 0;
  margin: 0.5em;
}

a {
  text-decoration: none;
  font-weight: 600;
  color:#80495f; 
  display: block;
  padding: 0;
  margin: 0;
}

.image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
}
.object:hover {
  -webkit-transform: scale(0.95);
	transform: scale(0.95);
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
  
}
.object:not(:hover) {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  box-shadow: 6px 6px 0 0 #80495f;
}

.object {
  border: 5px solid #f3a1b3;
  border-radius: 0px;
  width: min-content;
  margin: 2em 1em;
  padding: 0.5em;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.customButton input{
  padding: 1em;
  margin: 0.5em;
  display: inline-table;
}
.customButton button{
  display: inline-table;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
